body {
  font-family: "Montserrat", sans-serif;
}

.main-section {
  position: relative;
  max-width: 1280px;
  min-height: 720px;
  background-color: #fafafc;
  margin: 0 auto;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1182px;
  padding: 0 15px;
  margin: 0 auto;
}

/*=====Стили хедера=====*/

header {
  background-color: #fff;
  width: 100%;
  height: 60px;
  padding: 18px 0;
  margin-bottom: 24px;
  box-shadow: 0 1px 3px 0 rgba(11, 12, 13, 0.16),
    0 0 1px 0 rgba(11, 12, 13, 0.24);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/*=====Счетчик заметок=====*/

.notes-quantity {
  display: flex;
  align-items: center;
  gap: 12px;
}

/*=====Стили=====*/

/*=====Блок ввода параметров и добавления заметки=====*/

.note-entry-block {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
  width: 100%;
  min-height: 228px;
  box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08),
    0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
  margin-bottom: 24px;
}

/*=====Блок ввода названия заметки=====*/

.note-name-block {
  display: flex;
  flex-direction: column;
  max-width: 344px;
  min-height: 60px;
  margin-bottom: 12px;
}

label,
input,
legend {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #919191;
}

input::placeholder,
textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #919191;
}

input[type="text"] {
  /* font-family: inherit; */
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 6px 12px;
  width: 100%;
  min-height: 36px;
}

/*=====Блок ввода описания заметки=====*/

.note-description-block {
  display: flex;
  flex-wrap: wrap;
}

.note-name {
  display: flex;
  flex-direction: column;
  width: 848px;
  min-height: 108px;
  margin-right: 24px;
  margin-bottom: 12px;
}

textarea {
  /* font-family: inherit; */
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 6px 12px;
  max-width: 100%;
  min-height: 84px;
  resize: none;
}

/*=====Блок выбора цвета заметки=====*/

.note-color {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 232px;
  height: 108px;
}

fieldset {
  all: unset;
}

/* legend {
  all: unset;
} */

.radio-list {
  display: flex;
  gap: 14px;
  list-style: none;
  padding-left: 0;
  margin-top: 6px;
}

.radio {
  appearance: none;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: green;
  cursor: pointer;
}

.radio[value="red"] {
  background-color: #f37d7d;
}

.radio[value="green"] {
  background-color: #c2f37d;
}

.radio[value="blue"] {
  background-color: #7de1f3;
}

.radio[value="yellow"] {
  background-color: #f3db7d;
}

.radio[value="purple"] {
  background-color: #e77df3;
}

.radio:checked {
  border-color: white;
  box-shadow: 0 0 0 3px white, 0 0 0 4.5px #007bff;
}

/*=====Кнопка добавления заметки=====*/

.note-color-button {
  border-radius: 10px;
  border-color: transparent;
  padding: 6px 24px;
  width: 100%;
  min-height: 36px;
  background: #457cdc;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  cursor: pointer;
}

/*=====Избранные заметки=====*/

.block-favorite-notes {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.favorite-notes {
  display: flex;
  align-items: center;
  max-width: 100%;
  min-height: 24px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #000;
}
.favorite-notes-checkbox {
  margin-left: 8px;
}

/*=====Сообщение об отсутствии заметок=====*/

.empty-note {
  margin: 138px auto 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #000;
}

/*=====Добавление новых заметок=====*/

.notes {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.new-note {
  display: flex;
  flex-direction: column;
  width: 368px;
  height: 100%;
}

.new-note-title {
  min-height: 48px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.new-note-description {
  font-family: inherit;
  padding: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #000;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(11, 12, 13, 0.08),
    0 8px 16px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
}

.new-note-description {
  width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.new-note-title-name {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
}
.new-note-title-name p {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #292515;
  width: 85%;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.new-note-title-name div {
  display: flex;
  gap: 12px;
}

.favourite-note-img,
.trash-img,
.checkbox {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  bottom: 40px;
  right: 79px;
  border-radius: 10px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  color: #fff;
  z-index: 1000;
  box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08),
    0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
}
.tooltip-error {
  background: #f23d5b;
  width: 427px;
  height: 48px;
  bottom: 98px;
  animation: shake 0.5s ease;
}

.tooltip-error-description {
  background: #f23d5b;
  width: 457px;
  height: 48px;
  bottom: 98px;
  animation: shake 0.5s ease;
}

.tooltip-error-field-empty {
  background: #f23d5b;
  width: 300px;
  height: 48px;
  bottom: 98px;
  animation: shake 0.5s ease;
}
.tooltip-note-is-added,
.tooltip-note-is-delete {
  background: #47b27d;
  width: 230px;
  height: 48px;
  animation: pulse 3s ease-in-out;
}

.invisible {
  display: none;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.95);
  }
  75% {
    transform: scale(1.02);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

