* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.main-section {
  width: 1280px;
  min-height: 720px;
  background-color: #fafafc;
  margin: 0 auto;
}

.container {
  padding: 0 64px;
}

/*=====Стили хедера=====*/

header {
  margin-bottom: 24px;
  background-color: #fff;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  box-shadow: 0 1px 3px 0 rgba(11, 12, 13, 0.16),
    0 0 1px 0 rgba(11, 12, 13, 0.24);
}

/*=====Счетчик заметок=====*/

.notes-quantity {
  display: flex;
  align-items: center;
  gap: 12px;
}

/*=====Стили=====*/

/*=====Блок ввода параметров и добавления заметки=====*/

.note-entry-block {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 4px;
  padding: 24px;
  max-width: 100%;
  min-height: 228px;
  box-shadow: 0 8px 12px 0 rgba(11, 12, 13, 0.08),
    0 16px 24px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
  margin-bottom: 24px;
}

/*=====Блок ввода названия заметки=====*/

.note-name-block {
  display: flex;
  flex-direction: column;
  max-width: 344px;
  min-height: 60px;
  margin-bottom: 12px;
}

label,
input,
.note-color-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #919191;
}

input::placeholder,
textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #919191;
}

input[type="text"] {
  font-family: inherit;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 6px 12px;
  width: 100%;
  min-height: 36px;
}

/*=====Блок ввода описания заметки=====*/

.note-name {
  display: flex;
  flex-direction: column;
  min-width: 848px;
  min-height: 108px;
  margin-right: 24px;
}

textarea {
  font-family: inherit;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  padding: 6px 12px;
  max-width: 100%;
  min-height: 84px;
  resize: none;
}

.note-description-block {
  display: flex;
  flex-wrap: wrap;
}

/*=====Блок выбора цвета заметки=====*/

.note-color {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 232px;
  height: 108px;
}

.radio-container {
  display: flex;
  max-width: 212px;
  min-height: 36px;
  justify-content: space-around;
}

.radio {
  appearance: none;
  display: inline-block;
  position: relative;
  height: 24px;
  width: 24px;
  border-radius: 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  transition: 0.5s all;
}

.yellow {
  background-color: #f3db7d;
}

.green {
  background-color: #c2f37d;
}

.blue {
  background-color: #7de1f3;
}

.red {
  background-color: #f37d7d;
}

.purple {
  background-color: #e77df3;
}

.note-color-button {
  border-radius: 10px;
  border-color: transparent;
  padding: 6px 24px;
  width: 100%;
  min-height: 36px;
  background: #457cdc;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  cursor: pointer;
}

.block-favorite-notes {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.favorite-notes {
  display: flex;
  align-items: center;
  width: 254px;
  height: 24px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  color: #000;
}
.favorite-notes-checkbox {
  margin-left: 8px;
}

/*=====Добавление новых заметок=====*/

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
}

.new-note {
  display: flex;
  flex-direction: column;
  width: 368px;
  height: 100%;
}

.new-note-title {
  height: 48px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.new-note-description {
  font-family: inherit;
  padding: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #000;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(11, 12, 13, 0.08),
    0 8px 16px 0 rgba(11, 12, 13, 0.04), 0 1px 2px 0 rgba(11, 12, 13, 0.08);
}

.new-note-title-name {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
}
.new-note-title-name p {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #292515;
}

.new-note-title-name div {
  display: flex;
  gap: 12px;
}
